.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-right: 1px solid #828282;
  border-bottom: 1px solid #828282;
  background: #BDBDBD;
  position: relative;
  font-weight: 500;
  font-size: 14px;

  &[data-col="0"] {
    border-left: 1px solid #828282;
  }
  &[data-row="0"] {
    border-top: 1px solid #828282;
  }
  &.red {
    background: red;
  }  
  &.opened {
    background: rgba(0,0,0,.075);
  }
  &.dummy-cell {
    opacity: 0.6;
  }
}

.mines1 {
  color: blue;
}
.mines2 {
  color: #007B00;
}
.mines3 {
  color: #FF0000;
}
.mines4 {
  color: #00007B;
}
.mines5 {
  color: #7B0000;
}
.mines6 {
  color: #007B7B;
}
.mines7 {
  color: #000000;
}
.mines8 {
  color: #7B7B7B;
}

.cell.fa:before {
  position: absolute;
  width: inherit;
  font-size: 15px;
  text-indent: 2px;
}

.fa-bomb.red {
  background: #F44336;
}

.fa.fa-bomb.crossed:after {
  content: "\F00D";
  position: absolute;
  color: #F44336;
  font-size: 25px;
}

.flags-left,
.time-spent,
.game-result {
  font-size: 18px;
}

.game-result .fa {
  font-size: 24px;
}

.fa-smile-o {
  color: #007B00;
}

.fa-frown-o {
  color: #F44336;
}

.fa-meh-o {
  color: #d58512;
}

.mines-number {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: default;
}


.game-grid-wrapper {
  display: inline-block;
  margin-top: 10px;
}

.game-grid .row {
  margin: 0;
}

.game-in-progress-btns {
  display: inline-block;
}

.start-game,
.pause-game,
.finish-game {
  margin-right: 10px;
}
